<div *ngIf="!loaded">
  <h2 class="text-info">Loading...</h2>
</div>

<div *ngIf="loaded">
  <div *ngIf="volunteer_not_found">
    <h2 class="text-danger">Volunteers not found!</h2>
  </div>

  <div *ngIf="!volunteer_not_found">
    <div class="card" *ngFor="let v of volunteers">
      <div class="card-body">
        <h5 class="card-title">{{v.name}} {{v.surname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{v.working_shelter.name}}</h6>
        <p class="card-text">{{v.age}} years old.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

  </div>
</div>
