<div *ngIf="!loaded">
  <h2 class="text-primary mt-4 mr-4">Loading...</h2>
</div>

<div *ngIf="loaded">
  <div *ngIf="pets_not_found">
    <h2 class="text-danger mt-4 mr-4">Pets not founded!</h2>
  </div>

  <div *ngIf="!pets_not_found">

    <div class="card" *ngFor="let p of pets">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</div>
