<div *ngIf="!loaded">
  <h2 class="text-info mt-4 ml-4">Loading...</h2>
</div>

<div *ngIf="loaded">
  <div *ngIf="pets_not_found">
    <h2 class="text-danger mt-4 ml-4">Pets not found!</h2>
  </div>

  <div *ngIf="!pets_not_found">

    <button class="btn btn-success mx-4 my-4" [disabled]="show_pets_form" (click)="show_pet_volunteer_form()">ADD PET</button>

    <form (ngSubmit)="add_pet()" class="card mb-3 px-4 py-4" *ngIf="show_pets_form && pet_id == -1">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floating_name" placeholder="pet_name" name="pet_name" [(ngModel)]="pet.name">
        <label for="floating_name">Name: </label>
      </div>

      <div class="form-floating mb-4">
        <select class="form-select" id="pet_type" aria-label="Floating label select example" name="pet_type" [(ngModel)]="pet.type_of_animal_id">
          <option *ngFor="let t of type_of_animals" [ngValue]="t">{{t.type}}</option>
        </select>
        <label for="pet_type">Type: </label>
      </div>

      <div class="form-floating mb-4">
        <input type="number" class="form-control" id="floating_age" placeholder="pet_age" name="pet_age" [(ngModel)]="pet.age">
        <label for="floating_age">Age: </label>
      </div>

      <div class="form-floating mb-4">
        <select class="form-select" id="volunteer_shelter" aria-label="Floating label select example" name="volunteer_shelter" [(ngModel)]="pet.shelter">
          <option *ngFor="let sh of shelters" [ngValue]="sh">{{sh.name}}</option>
        </select>
        <label for="volunteer_shelter">Shelter: </label>
      </div>

      <button type="submit" class="btn btn-success mb-3">SAVE</button>
      <br>
      <button class="btn btn-secondary" (click)="show_pets_form=false">CANCEL</button>
    </form>

    <div class="card mb-3" *ngFor="let p of pets">
      <div class="card-body">
        <h5 class="card-title">{{p.name}} </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{p.type_of_animal_id.type}}</h6>

        <p class="card-text">Lives at {{p.shelter.name}} shelter.</p>
        <p class="card-text">{{p.age}} years old.</p>
        <button class="btn btn-primary mr-3" [disabled]="show_pets_form" (click)="edit_shelter(p)">Edit</button>
        <button class="btn btn-danger" (click)="delete_volunteer(p.id)">Delete</button>

        <form (ngSubmit)="update_pet()" class="card my-3 px-4 py-4" *ngIf="show_pets_form && pet_id == p.id">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floating_name_{{p.id}}" placeholder="pet_name_{{p.id}}" name="pet_name_{{p.id}}" [(ngModel)]="pet.name">
            <label for="floating_name_{{p.id}}">Name: </label>
          </div>

          <div class="form-floating mb-4">
            <select class="form-select" id="pet_type_{{p.id}}" aria-label="Floating label select example" name="pet_type_{{p.id}}" [(ngModel)]="pet.type_of_animal_id">
              <option *ngFor="let t of type_of_animals" [ngValue]="t">{{t.type}}</option>
              <option [ngValue]="pet.type_of_animal_id" selected>{{pet.type_of_animal_id.type}}</option>
            </select>
            <label for="pet_type_{{p.id}}">Type: </label>
          </div>

          <div class="form-floating mb-4">
            <input type="number" class="form-control" id="floating_age_{{p.id}}" placeholder="pet_age_{{p.id}}" name="pet_age_{{p.id}}" [(ngModel)]="pet.age">
            <label for="floating_age_{{p.id}}">Age: </label>
          </div>

          <div class="form-floating mb-4">
            <select class="form-select" id="volunteer_shelter_{{p.id}}" aria-label="Floating label select example" name="volunteer_shelter_{{p.id}}" [(ngModel)]="pet.shelter">
              <option *ngFor="let sh of shelters" [ngValue]="sh">{{sh.name}}</option>
              <option [ngValue]="pet.shelter" selected>{{p.shelter.name}}</option>
            </select>
            <label for="volunteer_shelter_{{p.id}}">Shelter: </label>
          </div>

          <button type="submit" class="btn btn-success mb-3">SAVE</button>
          <br>
          <button class="btn btn-secondary" (click)="show_pets_form=false">CANCEL</button>
        </form>
      </div>
    </div>

  </div>
</div>
