<div class="px-5 py-5">

    <form class="card mx-5 px-4 py-4" (ngSubmit)="login()">
        <h2 class="text-primary mb-4">You need to login</h2>

        <span class="text-danger" *ngIf="error">Invalid login or password</span>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" [(ngModel)]="user.email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
            <label for="floatingPassword">Password</label>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!user.email || !user.password ">SIGN IN</button>
    </form>
</div>