<div *ngIf="!loaded">
  <h2 class="text-info">Loading...</h2>
</div>

<div *ngIf="loaded">
  <div *ngIf="shelters_not_found">
    <h2 class="text-danger">Shelters not found!</h2>
  </div>

  <div *ngIf="!shelters_not_found">

    <button class="btn btn-success my-4" (click)="show_shelter_form=true" [disabled]="show_shelter_form">ADD SHELTER</button>

    <form class="card px-5 py-5" *ngIf="show_shelter_form && selected_id == -1" style="width: 60%" (ngSubmit)="add_shelter()">
      <div class="form-floating mb-3 ml-3">
        <input type="text" class="form-control" id="floatingName" placeholder="shelter_name" name="shelter_name" [(ngModel)]="shelter.name">
        <label for="floatingName">Name</label>
      </div>

      <div class="form-floating mb-3  ml-3">
        <input type="text" class="form-control" id="floatingCountry" placeholder="shelter_country" name="shelter_country" [(ngModel)]="shelter.country">
        <label for="floatingCountry">Country</label>
      </div>

      <div class="form-floating mb-3  ml-3">
        <input type="text" class="form-control" id="floatingCity" placeholder="shelter_city" name="shelter_city" [(ngModel)]="shelter.city">
        <label for="floatingCity">City</label>
      </div>


      <button class="btn btn-success mb-3" type="submit">ADD</button>
      <button class="btn btn-secondary" (click)="show_shelter_form=false">CANCEL</button>
    </form>

    <div *ngFor="let s of shelters" class="card mt-3">
<!--      <img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">{{s.name}}</h5>
        <p class="card-text">{{s.city}}, {{s.country}}</p>
        <button class="btn btn-primary" (click)="edit_shelter(s)" [disabled]="show_shelter_form">Edit</button>
        <button class="btn btn-danger ml-3" (click)="delete_shelter(s.id)">Delete</button>
      </div>

    <form class="card px-5 py-5 mx-3 my-3" *ngIf="show_shelter_form && selected_id == s.id" style="width: 60%" (ngSubmit)="update_shelter()">
      <div class="form-floating mb-3  ml-3">
        <input type="text" class="form-control" id="floatingName{{s.id}}" placeholder="shelter_name" name="shelter_name_{{s.id}}" [(ngModel)]="shelter.name">
        <label for="floatingName{{s.id}}">Name</label>
      </div>

      <div class="form-floating mb-3  ml-3">
        <input type="text" class="form-control" id="floatingCountry{{s.id}}" placeholder="shelter_country" name="shelter_country_{{s.id}}" [(ngModel)]="shelter.country">
        <label for="floatingCountry{{s.id}}">Country</label>
      </div>

      <div class="form-floating mb-3  ml-3">
        <input type="text" class="form-control" id="floatingCity{{s.id}}" placeholder="shelter_city" name="shelter_city_{{s.id}}" [(ngModel)]="shelter.city">
        <label for="floatingCity{{s.id}}">City</label>
      </div>

      <button class="btn btn-success mb-3" type="submit">UPDATE</button>

      <button class="btn btn-secondary" (click)="show_shelter_form=false">CANCEL</button>
    </form>


    </div>

  </div>
</div>
