<div class="px-5 py-5">

    <form class="card mx-5 px-4 py-4" (ngSubmit)="signup()">
        <h2 class="text-primary mb-4">You can sign up</h2>

<!--        <span class="text-danger" *ngIf="error">Invalid login or password</span>-->

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" [(ngModel)]="user.email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" name="username" [(ngModel)]="user.username">
            <label for="floatingInput1">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword1" placeholder="Password1" name="password1" [(ngModel)]="password1">
            <label for="floatingPassword1">Confirm password</label>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="user.password != password1 && user.email == '' && user.username == '' && user.password == ''">SIGN UP</button>
    </form>
</div>